.bet-button {
    color: white;
    background-color: firebrick;
    transition: 0.3s ease;
}

.bet-button:hover {
    color: black;
    background-color: olive;
    transition: 0.3s ease;
}